footer {
  background-color: #2e353f;
  color: white;
  display: flex;
  justify-content: center;
  /* overflow: hidden; */
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h4 {
  text-transform: uppercase;
  align-self: flex-start;
  margin: 0;
  margin-top: 20px;
}
h6 {
  margin: 0;
  font-size: 14px;
}
.contactArticle {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.contactArticle > div {
  display: flex;
  align-items: center;
}
i {
  margin: 20px;
}
.footerIcon {
  width: 130px;
  height: auto;
  object-fit: contain;
}

@media all and (max-width: 768px) {
  h4 {
    font-size: 16px;
  }
  p {
    font-size: smaller;
  }
  i {
    margin: 5px;
    margin-right: 10px;
  }
  .contactArticle {
    flex-direction: column;
  }
}
