<div class="scrollLink" (click)="onAutoScroll()">
    <img src="./assets/img/mouse.png" alt="" />
</div>

<!-- diaporama -->
<app-slider id="home"></app-slider>

<section id="entreprise" class="col-lg-12 mainSection">
    <section class="col-lg-9 col-md-10 col-sm-11">
        <app-aboutus></app-aboutus>
    </section>

    <section class="col-lg-12 statsSection">
        <section class="col-lg-9 col-md-10 col-sm-11">
            <app-our-skills></app-our-skills>
        </section>
    </section>

    <section class="col-lg-9 col-md-10 col-sm-11">
        <app-lastnews></app-lastnews>
    </section>
</section>
<app-footer></app-footer>