<section class="col-lg-12 ">
  <app-decoration
    title="Notre Agence"
    legend="    GRAPHIBOX est une agence web implantée dans le Gers à Gimont (32200) depuis
    l’an 2000. Une entreprise dans l'air du temps, qui s’adapte aux nouvelles
    technologies. Pour se faire, Graphibox se compose d'une équipe experte et
    passionnée qui vous accompagne dans la réalisation de tous vos projets
    de communication internet. "
  ></app-decoration>

  <article>
    <div class="textArticle">
      <h3>Nos services</h3>
      <p>
        Qu'il s'agisse de la réalisation d'un site Internet ou d'une application
        en Intranet, d'un relookage ou de la refonte de votre site web actuel,
        de l'hébergement dédié, mutualisé ou encore virtualisé, de la
        réservation et de la gestion de nom de domaine, ou encore de la gestion
        de vos adresses emails professionnelles ou personnelles, nous vous
        garantissons une écoute et un conseil de qualité ainsi que flexibilité
        et réactivité. De 2000 à 2018, soit 18 ans d'expérience à votre service
        ! Fort de nos 18 ans d’expérience, nous répondons à vos besoins dans le
        domaine de la création ou refonte d'identité visuelle, du référencement
        de site Internet, ainsi que la mise en place de stratégie web. L'équipe
        de Graphibox vous propose ainsi un accompagnement à long terme, avant,
        pendant et après la phase de conception de votre projet.
      </p>
    </div>
    <img src="./assets/img/entreprises/conception.jpg" alt="" />
  </article>
</section>
